.page {
    width: 1100px;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    margin: auto;
}

body {
    background-color: rgb(193, 216, 237);
}

#title {
    padding-bottom: 20px;
    text-align: center;
}

hr {
    border-top: 1px solid rgb(193, 216, 237);
}

.section-divider {
    text-align: center;
    padding-top: 0px;
}

.pure-g {
    height: 400;
    padding-top: 20px;
}

#countrygdp {
    width: 600px;
    height: 400px;
}

#worldmap {
    width: auto;
    height: auto;
}

#industry-desc {
    padding-left: 40px;
    padding-right: 0px;
}

#ausmap {
    padding-left: 40px;
    padding-right: 0px;
}

.hover-text {
    color: lightslategray;
}

#hover-1 {
    text-align: right;
    padding-right: 20px;
}

#hover-2 {
    text-align: right;
}

#hover-3 {
    text-align: center;
}

.bold-text {
    font: bold;
}

#title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.credits {
    font-size: x-small;
    padding-top: 10px;
    padding-bottom: 10px;
}

#g-1 {
    padding-top: 0px;
    padding-bottom: 20px;
}

#g-2 {
    padding-bottom: 20px;
}
